html{
	height:100%;
	width:100%;
	}
body{
	background:#000000;
	}
video{
	position:fixed;
	top:50%;
	left:50%;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-9999;
	transform:translateX(-50%) translateY(-50%);
	background-size:cover;
	transition:1s opacity;
	}
	.video{
		overflow:hidden;
	}
		.video-fall{
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			overflow:hidden;
			}
			.volume-button{
				font-size:18px;
				position:absolute;
				z-index:25;
				top:20px;
				left:50%;
				margin-left: 2px;
				cursor:pointer;
				color:#fff;
			}
			.stop-button{
				font-size:18px;
				position:absolute;
				z-index:25;
				top:20px;
				left:50%;
				margin-left: -19px;
				cursor:pointer;
				color:#fff;
			}
				
.pageoverlay{
	display:block;
	height:100%;
	left:0;
	overflow:hidden;
	position:fixed;
	top:0;
	width:100%;
	}
	.overlay:after{
		position:absolute;
		content:'';
		width:100%;
		height:100%;
		top:0;
		left:0;
		min-height:100%;
		background:url(../img/overlay.png);
		background-repeat:repeat;
		}
.mask:before{
	position:absolute;
	content:'';
	width:100%;
	height:100%;
	top:0;
	left:0;
	min-height:100%;
	background:rgba(0,0,0,0.5);
	}
.lightbox{
	color:#FFFFFF;
	margin:18% auto;
	}
#sexytime{
	font-size:16px;
	left:0;
	max-width:1000px;
	position:absolute;
	top:0;
	}
hr{
	background:red;border:0;
	border-top:1px solid white;
	box-shadow:0.1em 0.1em 0.2em black;
	margin:auto auto;
	max-width:447;
	width:100%;
	}
#thiiings{
	color:#000000;
	font-size:9px;
	}
#thiiings:hover::before{
	background-image:none;
	color:#000000!important;
	font-size:9px!important;
	height:auto!important;
	padding:5px;
	text-align:justify!important;
	transition:all 0.15s ease-in;
	width:150px;}
#thiiings a{
	color:#000000;
	text-decoration:none;
	}
html,body{
	height:100%;
	}
*,*:before,*:after{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	}
*{
	outline:none;
	}
body{
	background:#000000 no-repeat center bottom;
	color:#FFFFFF;
	font:normal 16px/1.2 unseen,sans-serif;
	margin:0;
	text-shadow:2px 2px #000000;
	}
.awrapper{
	align-content:center;
	background-size:cover;
	display:flex;
	display:-ms-flexbox;
	display:-webkit-flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	min-height:100%;ms-flex-direction:row;
	ms-flex-line-pack:center;
	ms-flex-pack:center;
	ms-flex-wrap:wrap;
	webkit-align-content:center;
	webkit-flex-direction:row;
	webkit-flex-wrap:wrap;
	webkit-justify-content:center;
	}
::selection{
	background-color:#000000;
	color:#FFFFFF;
	text-shadow:none;
	}
a{
	color:#FFFFFF;
	text-decoration:none;
	}
a:hover,a:active{
	color:#FF0000;
	outline:none;
	}
.titles{
	text-align:center;
	width:100%;
	}
h1,h2{
	font-family:Roboto;
	font-size:7.0em;
	font-weight:400;
	margin:0;
	}
h2{
	font-size:2em;
	}
h3{
	font-weight:normal;
	}
h1>a{
	transition:color 0.5s ease;
	}
.links{
	font-size:16px;
	list-style:circle;
	margin-bottom:0;
	padding:0;
	padding-left:20px;
	}
.links li{
	margin-bottom:0.6em;
	}
.links li:last-child{
	margin-bottom:0;
	}
.links p{
	color:#000000;
	margin:0.6em 0 0 0.5em;
	}
.media{
	font-size:30px;
	text-align:center;
	}
.media>a{
	margin-right:45px;
	text-decoration:none;
	transition:color 0.5s ease;
	}
.media>a#vk{
	font-size:35px;
	}
.media>a:last-child{
	margin-right:0;
	}
.japanese2{
	-webkit-text-stroke-width: 0px;
	-webkit-text-stroke-color: black;
	color: white;
	text-shadow: 0px 0px 3px white,0px 0px 3px white,0px 0px 3px white,0px 0px 8px #553300,0px 0px 8px #553300;
	}
